---
---

@import "{{ site.theme }}";

body {
  line-height: 1.2 !important; 
}

.page-header {
  background-image: url('assets/images/Blank_banner_3_1_1200.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%; 
}

